.bottom {
  &--navigation {
    margin-top: 2rem;
    gap: var(--sf-text--size-1);
    @include breakpoint(mobile) {
      flex-direction: column;
    }
    &-items {
      gap: 20px;
    }
    [class^="bottom--navigation-item_"] {
      flex: 1;
      border: 1px solid #c5c5c5;
      background-color: #ebebeb;
      max-width: calc(50% - 10px);
      transition: .3s background-color ease;
      &:hover {
        background-color: #acacac;
      }
      > a {
        padding: 1em;
        &:hover {
          color: inherit;
        }
      }
    }
    button{
      font-size: var(--sf-text--size-1);
      .sf-icon {
        font-size: var(--sf-c2);
        @include breakpoint(tablet) {
        font-size: var(--sf-c0);
        }
      }
    }
    &-item {
      &_next {
        margin-left: auto;
        > a {
          justify-content: flex-end;
        }
      }
    }
  }
}
