.nav {
    &-menu {
        strong {
            font-size: 18px;
        }

        a {
            font-size: var(--sf-text--size-1);
            color: var(--sf-on-surface);
            &.active {
                color: #d20e21;
            }
        }
        li:has(button) {
                > ul {
                    display: none;
                }
            &.active {
                > ul {
                    display: block;
                }
            }
        }
    }
    &-button {
        font-weight: bold;
        cursor: pointer;
        color: #2c2c2c;
    }
}


