.docsearch-input {
    background-image: url('/assets/build/img/magnifying-glass.svg');
    background-position: 0.8em;
    background-repeat: no-repeat;
    text-indent: 1.2em;
    
    @apply bg-white;
    @apply w-1/2;

    @screen lg {
        &:focus {
            @apply w-full;
        }
    }

    @screen xl {
        &:focus {
            @apply w-full;
        }
    }
    &__holder {
        @apply absolute;
        display: flex;
        gap: var(--sf-b6);
        flex-direction: column;
        top: 100%;
        background: var(--sf-surface-0);
        min-width: 100%;
        width: 100%;
        right: 0;
        padding: 1rem;
        border-radius: var(--sf-radius-1);
        border: var(--sf-a1) solid var(--sf-outline-variant);
        box-shadow: 0px 0px var(--sf-a3) var(--sf-outline-variant);
    }
&__wrapper {
    @apply mt-7;
    @apply left-0;
    @apply top-0;
    @apply px-4;
    @apply w-full;
    @apply z-10;

    @screen md {
        @apply mt-0;
        @apply px-0;
        @apply relative;
    }
}

}
.search {
    &--result {
        text-align: left;
        &-title {
            font-weight: var(--sf-text--weight-7);
            font-size: var(--sf-text--size-1);
            color: var(--sf-on-surface);

        }
        &-content {
            font-size: var(--sf-text--size-1);
            margin: 0;
        }
    }
    &--wrap {
        //max-width: 400px;
        width: 100%;
        mark {
            color: #d20e21;
        }
    }
}


